*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	min-height:100vh;
	transition: 0.5s;
	transition-timing-function: ease-in;
	background-image: linear-gradient(black, black, black);
}

a {
	color: black;
	border: 3px solid #000000;
}
	
.quote-box{
	padding:3rem;
	transition: 0.3s;
	transition-timing-function: ease;

}
	
.text{
	font-size:18px;
	padding-left:10px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	font-family: 'Arimo', serif;
	font-style: bold;
	color: #85bb65;
	text-decoration: none;
}


.quote{
	transition: 0.5s;
	transition-timing-function: ease-in;
}

.new-quote{
	font-family: 'Arimo', serif;
	font-size:12px;
	font-style: italic;
	border-radius: 6px;
	cursor:pointer;
	padding-bottom: 3px;
	padding-top: 0px;
	margin-top: 5px;
	width: 243px;
	height:  21px;
	background-image: linear-gradient(#E5B80B, #E5B80B, #E5B80B);
}

.text-center{
	text-align: center;
}
	
.new-quote:hover{
	opacity: 0.6;
	font-family: 'Georgia', serif;
}

.new-quote{
	opacity: 0.9;
	font-family: 'Georgia', serif;
}

.btn{
	color: black;
	border: 3px solid #000000;
	line-height: 15px;
}

.btn:hover{
	color: #07111D;
	border: 3px solid #000000;
}


.author:hover{
	opacity: 0.6;
	font-family: 'Georgia', serif;
}

.author{
	margin:10px;
	font-size:20px;
	transition: 0.5s;
	transition-timing-function: ease-in;
	opacity: 0.2;
	font-family: 'Georgia', serif;
	background-image: linear-gradient(to right bottom, #28313B,#485461
	);
	color: transparent;
	-webkit-background-clip: text;
}
	
	
p{
	margin-top: 5px;
	text-align: center;
	position: absolute;
	width: 100%;
	top:21.5%;
}

.block_title {
perspective: 150rem;
position: absolute;
top:13%;
left: 12%;
font-family: 'Georgia', serif;
}

.block {
perspective: 150rem;
position: absolute;
top:25%;
left: 12%;
}

.block__main {
	min-width: 67vw;
	position: absolute;
	transition: all .8s ease;
	backface-visibility: hidden;
	box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
	border-radius: .5rem;
	background-image: url("dkcloud.jpeg");
}

.block__back {
	transform: rotateY(180deg);
}

.rotateF{
transform: rotateY(-180deg);
}

.rotateB{
transform: rotate(0deg);
}

